body{
    font-family: "Roboto", "Calibri Light", sans-serif;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
}

.button{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 0;
    background-color: rgba(17, 17, 17, 0.89);
    color: whitesmoke;
    cursor: pointer;
    transition: background 0.5s;
    min-width: 100px;
}

.button:hover{
    background-color: rgba(17, 17, 17, 0.60);
}

.redButton{
    background-color: #cb4b37;
    transition: background 0.5s;
}

.redButton:hover{
    background-color: #b24632;
}

.greenButton{
    background-color: #3ada76;
    transition: background 0.5s;
}

.greenButton:hover{
    background-color: #3bb95c;
}

.blueButton{
    background-color: #177bbb;
    transition: background 0.5s;
}

.blueButton:hover{
    background-color: #1667a1;
}

input{
    display: block;
    border: #545856 2px solid;
    padding: 3px;
    margin: 3px;
    transition: border 1s;
}

input:valid{
    border: rgba(10, 178, 50, 0.55) 2px solid;
}

input:invalid{
    border: rgba(178, 19, 15, 0.55) 2px solid;
}

.inputFill{
    width: 90%;
}

.configs{
    max-width: 15%;
    float: left;
    display: flex;
    flex-direction: column;
}

.configs:first-line{
    border: solid 1px #1667a1;
}

.configsInside{
    padding: 10px;
    background-color: whitesmoke;
}

#gameArea{
    background-color: whitesmoke;

    float: right;
    width: 84%;
}

#gameArea .game{
    background-color: aliceblue;
    min-width: 300px;
    min-height: 300px;
    border: solid rgba(23, 123, 187, 0.62) 1px;
    padding: 10px;
    overflow: auto;
}

table.game{
    margin: 0 auto;
}

table.game tr td{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

table.game tbody{
    margin: 0;
    padding: 0;
}


table.game tr td button{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #177bbb;
    border: solid 1px #1667a1;
    cursor: pointer;
}

table.game tr td button:hover{
    background-color: #179fe9;
}